.icon-block {
    //padding:$space-sm $space-md;
    @extend %center-flex;
    flex-direction:column;
    justify-content: space-between;
    text-align: center;
    min-width:300px;
    width:100%;
    @include sm-and-up {
        max-width:calc(33% - (#{$space-sm} * 2));
        //padding:$space-md;
    }
    img {
        max-height:60px;
        height:100%;
        width:auto;
        margin: 0 auto;
        margin-bottom: $space-sm;
    }
    p {
        margin-bottom: $space-sm;
    }
    .content {
        @include ie {
            width:100%;
            * {
                width:100%;
            }
            img {
                width:auto;
            }
        }
    }
    @include heading {
        @include md-and-up {
            max-width:90%;
        }
        margin: 0 auto;
        margin-bottom: $space-sm;
    }
}

.four-wide .icon-block {
    @include sm-and-up {
        max-width:calc(25% - (#{$space-sm} * 2));
        min-width:285px;
    }
}