.footer {
	background-color: var(--color-secondary);
	background-image: url("../../assets/img/pattern.svg");
	background-size: 5rem 10rem;
	font-family: $font-sans-serif;
	font-size: 0.9em;
	color: $color-ui-light;
	@extend %light-link;
	padding: $space-lg $space-md;
	p {
		font-family: $font-sans-serif;
	}
}
.footer-menu-wrapper {
	h3 {
		font-size: 1em;
		@extend %uppercase;
		margin-bottom: 0.5em;
		margin-top: $space-sm;
		@include md-and-up {
			margin-top: 0;
		}
		color: white;
	}
}
.menu-footer-nav {
	@include md-and-up {
		display: flex;
		justify-content: space-between;

		> *:not(:last-child) {
			margin-right: $space-md;
		}
	}

	> li {
		margin-bottom: $space-lg;
	}
}
.footer-bottom {
	margin-top: $space-sm;

	.footer-subtitle {
		@include md-and-up {
			//text-align: center;
		}
		a:hover {
			color: white;
		}
	}
}
.footer-top {
	@include md-and-up {
		display: flex;
		justify-content: space-between;
	}
	.footer-menu-logo {
		@include ie {
			height: 100%;
		}
	}
}
ul.menu-footer-social {
	display: flex;
	margin: 0 -0.5em $space-lg -0.5em;
	a {
		padding: 0.5em;
	}
}
.footer-menu-logo {
	width: 14rem;
	margin-bottom: $space-lg;
	display: block;
	filter: grayscale(1) brightness(1000%);
}

.menu-footer-nav-first-child {
	&.break-on-three {
		@include md-and-up {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: $space-md;
		}
		@include ie {
			display: -ms-grid;
			-ms-grid-columns: (1fr)[2];
			li {
				margin-right: $space-md;
			}
		}
	}
	a {
		display: inline-block;
		padding: 0.2em 0;
	}
}
