.expand-grid-copy {
	margin-bottom: $space-md;
}

ul.expand-grid-list {
	column-count: 1;
	break-inside: avoid;
	column-width: 20em;
	column-gap: $space-md;

	> li {
		//position: relative;
		break-inside: avoid;
		min-height: 20em;
		margin: 0 0 $space-md 0;
		width: 100%;
		display: inline-block;
		transition: border-color 150ms, box-shadow 500ms;

		&[data-toggle="open"] {
			border-color: var(--color-accent);
			box-shadow: 0em .5em 1em rgba($color-ui-dark, 0.2);
			//filter: drop-shadow(30px 10px 4px #4444dd);
		}
		&::after {
			content: '';
			width: 100%;
			height: 100%;
		}
	}
	&[data-columns="3"] {
		@include md-and-up {
			column-count: 2;
		}
		@include lg-and-up {
			column-count: 3;
		}
	}
	&[data-columns="2"] {
		@include md-and-up {
			column-count: 2;
		}
	}
}
.expanded-copy {
	//padding: $space-sm 0 0 0;
	overflow: hidden;
	transition: max-height 150ms ease-in-out;
	&[data-toggle="close"] {
		max-height: 0;
	}
}

.expand-grid-trigger {
	.toggle-status:after {
		content: " More";
	}
	&[data-target-toggle="open"] {
		.toggle-status:after {
			content: " Less";
		}
	}
}
