ul.content-columns-list {
	@extend %dark-text;
	column-count: 1;
	//column-width: 20em;
	column-gap: $space-md;
	widows: 2;

	> li {
		break-inside: avoid-column;
		//break-inside: avoid-region;
		//break-inside: avoid;
		margin-bottom: $space-md;
		min-height: 20em;
		border-radius: $border-radius;
		overflow: hidden;

		//display: flex;
		//flex-direction: column;

		&[data-toggle="open"] {
		}
	}

	&[data-max-columns="4"] {
		@include sm-and-up {
			column-count: 2;
		}
		@include md-and-up {
			column-count: 3;
		}
		@include lg-and-up {
			column-count: 4;
		}
	}
	&[data-max-columns="3"] {
		@include md-and-up {
			column-count: 2;
		}
		@include lg-and-up {
			column-count: 3;
		}
	}
	&[data-max-columns="2"] {
		@include md-and-up {
			column-count: 2;
		}
	}
}
.expand-grid-item {
	&[data-style="card-link"] {
		border-radius: $border-radius;
		overflow: hidden;
		background: #fff;
		border: $border-width solid rgba($color-ui-gray, 0.2);
		display: block;
		width: 100%;
		height: 100%;
		transition: border-color 150ms ease, transform 250ms ease !important;
		&[data-toggle="open"] {
			border-color: var(--color-accent);
			box-shadow: 0 0.25em 0.5em rgba($color-ui-dark, 0.2);
		}
	}
}
.expanded-copy {
	padding: $space-sm 0 0 0;
	overflow: hidden;
	transition: max-height 150ms ease-in-out;
	&[data-toggle="close"] {
		max-height: 0;
	}
}

.expand-grid-trigger {
	@extend %button-clean;
	font-size: 0.9em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: var(--color-primary);
	&:hover,
	&:focus {
		color: var(--color-primary-darken);
	}
	.toggle-status:after {
		content: " More";
	}
	&[data-target-toggle="open"] {
		.toggle-status:after {
			content: " Less";
		}
	}
}
