.logo-carousel {
	* {
		color: #fff;
	}
	.copy {
		padding: 0 $space-md;
		@include sm-and-up {
			padding: 0 $space-sm;
		}
		p {
			font-weight: 300;
			max-width: 500px;
			margin: 0 auto;
		}
	}
	.slides {
		display: flex;
		.slider.tns-item {
			@extend %center-flex;
		}
	}
	.carousel {
		position: relative;
		padding: $space-sm 0;
		.tns-outer {
			max-width: 60%;
			margin: 0 auto;
		}
		.tns-inner {
			overflow: hidden;
		}
	}
	.tns-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		@extend %center-flex;
		button {
			@extend %tns-button;
		}
	}
	.group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include lg-and-up {
			justify-content: space-around;
			flex-direction: row;
		}
		img {
			width: 100%;
			height: 100%;
			max-width: 200px;
			max-height: 90px;
			margin-bottom: $space-md;
			padding: $space-sm;
			margin: 0;
			@include sm-and-up {
				max-width: 200px;
				max-height: 100px;
				height: auto;
			}
			@include ie {
				height: 100%;
			}
		}
	}
	.group.showing-eight {
		margin-bottom: $space-md;
		@include lg-and-up {
			margin-bottom: 0;
			flex-wrap: wrap;
			img {
				&:nth-last-child(-n + 4) {
					margin-top: $space-md;
				}
			}
		}
	}
	#customize-controls {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		padding: 0 $space-md;
		@include ie {
			max-width: 100%;
			padding: 0 $space-md;
		}
		img {
			max-width: 40px;
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
		.next img {
			transform: rotate(180deg);
		}
	}
	@include md-and-up {
		&.active .carousel {
			padding: $space-lg 0;
		}
		&:not(.active) .carousel .group {
			img {
				max-width: 250px;
			}
			&.showing-eight img {
				max-width: 25%;
				width:100%;
				min-width:160px;
			}
		}
	}
}
