.section-wrapper.breadcrumbs {
	padding: 0;
	overflow: hidden;
	position: relative;
	@include sm-and-up {
		padding: 0 $space-md;
	}
}

.breadcrumbs {
	.fade {
		@extend %absolute-fill;
		pointer-events: none;
		width: 0;
		box-shadow: 0 0 2em 2em $color-ui-light;
		@include sm-and-up {
			display: none;
		}
	}
	&[data-background-color='primary'] .fade {
		box-shadow: 0 0 2em 2em var(--color-primary);
	}

	&[data-background-color='secondary'] .fade {
		box-shadow: 0 0 2em 2em var(--color-secondary);
	}

	&[data-background-color='accent'] .fade {
		box-shadow: 0 0 2em 2em var(--color-accent);
	}

	&[data-background-color='white'] .fade {
		box-shadow: 0 0 2em 2em #fff;
	}
}

ul.breadcrumb-links {
	padding: $space-sm $space-sm $space-sm 0;
	font-size: 0.9em;
	list-style-type: none;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	max-width: 100%;
	direction: rtl;
	text-align: left;

	> li {
		display: inline;

		&:first-child {
			margin-left: $space-md;
			@include sm-and-up {
				margin-left: 0;
			}
		}
		&:not(:last-child):after {
			content: '▸';
			padding: $space-xs;
			opacity: 0.5;
		}
	}
}
