.section-wrapper.breadcrumbs {
	padding-top: $space-sm;
	padding-bottom: $space-sm;
}
ul.breadcrumb-links {
	font-size: .9em;
	//padding: 0 1em !important;
	list-style-type: none;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	max-width: 100%;
	direction: rtl;
	text-align: left;

	> li {
		display: inline;
		&:not(:last-child):after {
			content: '▸';
			padding: $space-xs;
			opacity: .5;
		}
	}
}
