.tease-post {
	background: #fff;
	padding: $space-md;
	margin: $space-md 0;
	@include md-and-up {
		padding: 3rem;
	}

	.meta {
		display: flex;
		justify-content: space-between;
		margin-bottom: $space-md;
		font-size: 0.8em;
		font-family: $font-sans-serif;
		font-weight: 600;
		p {
			font-family: $font-sans-serif;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}
.post-thumb-link {
	display: block;
	margin-bottom: $space-md;
}
a.post-title-link {
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
