ol > li.tease-post,
ul > li.tease-post {
	padding: $space-md;
}
.tease-post {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	background: #fff;
	padding: $space-md;
	@include md-and-up {
		display: flex;
	}
	.post-preview {
		display: none;
		@include md-and-up {
			display: block;
		}
	}
	.categories {
		a {
			font-size: 1.1em;
			font-weight: 800;
		}
	}
	.meta {
		font-family: $font-sans-serif;
		@include md-and-up {
			min-width: 40%;
			display: flex;
			flex-direction: column;
			margin-right: $space-lg;
		}
		h3 {
			margin: 0;
		}
		a.btn {
			max-width: 14em;
		}
	}
	.title {
		margin: $space-sm 0;
		@include md-and-up {
			flex-grow: 1;
		}
		p {
			margin: $space-sm 0;
		}
	}
	.mobile {
		margin-bottom: $space-sm;
		@include md-and-up {
			display: none;
		}
	}
}
