.section-wrapper.checkerboard {
	padding: 0;
}

.checkerboard {
	.row {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	@include md-and-up {
		.row {
			flex-direction: row;
			figcaption {
				display: flex;
			}

			&:nth-of-type(odd) {
				flex-direction: row-reverse;
				figcaption {
					align-items: flex-end;
				}
			}
		}

		&.right {
			.row:nth-of-type(odd) {
				flex-direction: row;
				figcaption {
					align-items: flex-start;
				}
			}
			.row:nth-of-type(even) {
				flex-direction: row-reverse;
				figcaption {
					align-items: flex-end;
				}
			}
		}
	}

	.image,
	figcaption {
		width: 100%;
		position: relative;
		@include md-and-up {
			max-width: 50%;
		}
	}
	.image {
		height: 300px;
		display: block;
		@include md-and-up {
			height: auto;
		}
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	figcaption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $space-md $space-md $space-lg $space-md;
		@include md-and-up {
			min-height: calc(10vw + 300px);
			padding: $space-lg $space-md;
		}
		@include lg-and-up {
			padding: $space-lg;
		}
	}
}
.checkerbard-copy-wrapper {
	width: 100%;
	@include md-and-up {
		max-width: 48ch;
	}
}
