$max-height: calc(16em + 20vw);
.section-wrapper.content-gallery {
	padding: 0;
}
.content-gallery {
	position: relative;
	padding: 0;
	.copy {
		padding: 2rem 5rem;
		@include md-and-up {
			font-size: calc(.5em + 1vw);
		}
	}
	blockquote {
		font-family: $font-sans-serif;

		p {
			font-family: $font-sans-serif;
			font-weight: 600;
		}

		cite {
			font-size: 0.8em;
			font-weight: 400;
			font-family: $font-serif;
		}
	}
	.slides {
		transition: all 0.2s ease-in;
		@include md-and-up {
			min-height: $max-height;
		}
	}
	figure {
		display: block;
		max-height: 100%;
		margin-bottom: 0;

		@include md-and-up {
			display: flex;
		}

		.image-holder {
			position: relative;
			width: 100%;
			min-height: 400px;
		}
		img {
			height: 100%;
			object-fit: cover;
			position: absolute;
			@include md-and-up {
				position: static;
			}
		}
	}
	figcaption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;

		a:not(.btn) {
			text-decoration: underline;
			&:hover {
				color: white;
			}
		}

		.links {
			display: block;
			@include sm-and-up {
				display: flex;
			}
			margin-top: $space-md;
			a {
				display: inline-block;
				margin-right: $space-sm;
			}
		}
	}
	.carousel {
		.copy {
			//font-size: .5em;
			width: 100%;
		}
		figure {
			max-width: 0;
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: opacity 0.2s ease-in;
			&.active {
				max-width: 100%;
				max-height: 100%;
				@include md-and-up {
					max-height: $max-height;
					min-height: $max-height;
				}
				opacity: 1;
			}
		}
	}

	.navigation {
		position: absolute;
		bottom: 0;
		width: 100%;
		@include md-and-up {
			max-width: 50%;
			right: 0;
			bottom: $space-sm;
			padding-left: $space-lg;
		}

		.dots-container {
			color: #fff;
			padding-left: $space-lg;
			height: 3em;
			margin: 0 auto;
			padding: $space-sm;

			@extend %center-flex;
			@include md-and-up {
				padding: 0;
				background: transparent;
				justify-content: flex-start;
			}
		}
	}

	.tns-controls {
		color: white;
		padding: 0 $space-sm;
		@include md-and-up {
			width: 50%;
			right: 0;
		}
	}
}
