{% set image = Image(slide.image) %}
<div class="image-holder">
    {% if slide.crosshair_frame %}
        {% include "templates/blocks/crosshair-frame/crosshair-frame.twig" %}
    {% endif %}

    <img src="{{ image.src }}" srcset="{{ image.srcset }}" data-object-fit="cover" loading="lazy"/>
</div>