.section-wrapper.hero {
	padding: 0;
	overflow: hidden;
	max-width: 100vw;
}
.hero {
	@extend %white-text;
	background: var(--color-secondary);
	.tns-nav {
		bottom: 10px;
	}
	h1 {
		font-size: calc(1em + 3vw);
		@include sm-and-up {
			font-size: 2.5rem;
		}
	}
}
.hero-panes {
	display: flex;
	&.fade-in {
		opacity: 0;
	}
	&:not(.carousel) {
		.hero-pane {
			width: 100%;
			padding: $space-lg $space-md;
		}
	}
}
.tns-horizontal > .tns-item.hero-pane {
	display: flex;
}

@include ie {
	.hero-pane {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.hero-pane {
	padding: $space-lg $space-lg;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;

	max-height: 80vh;
	@include ie {
		background-position: center !important;
		background-size: cover !important;
	}
	@include md-and-up {
		padding: $space-lg;
		height: 500px;
	}
	&[data-background-color="image"] {
		.hero-copy {
			text-shadow: .1em .1em .75em rgba(0, 0, 0, 0.25);
			p {
				text-shadow: .1em .1em .75em rgba(0, 0, 0, 0.75);
			}
		}
	}

	.background-image {
		@extend %absolute-fill;
		z-index: -1;
		object-fit: cover;
	}
}

.hero-copy-wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.hero-copy {
	font-size: 1rem;
	@include md-and-up {
		font-size: 1.125rem;
		max-width: 55ch;
	}
	.button-group {
		margin-top: $space-md;
		text-shadow: none;
	}
}

.image-arrow {
	opacity: .7;
	position: absolute;
	width: 10em;
	height: 10em;
	bottom: 0;
	right: 0;
}
