$hero-height: 500px;
.section-wrapper.hero {
	padding: 0;
	overflow: hidden;
	max-width: 100vw;
}
.hero {
	@extend %white-text;
	.tns-nav {
		bottom: 10px;
	}
}
.hero-panes {
	display: flex;
	&:not(.carousel) {
		.hero-pane {
			width: 100%;
		}
		.hero-copy {
			@include md-and-up {
				margin-left: 10vw;
			}
		}
	}
}
.tns-horizontal > .tns-item.hero-pane {
	display: flex;
}

@include ie {
	.hero-pane {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.hero-pane {
	padding: $space-lg $space-md;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include ie {
		background-position: center !important;
		background-size: cover !important;
	}
	@include md-and-up {
		padding: $space-lg;
		height: $hero-height;
	}
	&[data-background-color="image"] {
		.hero-copy {
			text-shadow: .1em .1em .75em rgba(0, 0, 0, 0.75);
		}
	}

	.background-image {
		@extend %absolute-fill;
		z-index: 0;
		object-fit: cover;
	}
}

.hero-copy-wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.hero-copy {
	font-size: 1rem;
	@include md-and-up {
		font-size: 1.125rem;
		max-width: 30em;
		margin-left: 15vw;
	}
}

.image-arrow {
	opacity: .7;
	position: absolute;
	width: 10em;
	bottom: 0;
	right: 0;
}

.hero-chevron {
	position: absolute;
	width: auto;
	height: 100%;
	left: calc(-20em + 20vw);
	mix-blend-mode: overlay;

	polygon {
		fill: $color-ui-dark;
	}
}
