<div class="container-lg">
    <ul class="share-buttons">
        <li>
            <h4>Share Now</h4>
        </li>
        <li>
            <a class="share-link facebook btn" href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}">
                <i class="fab fa-facebook-square"></i> <span class="hidden">Share to Facebook</span>
            </a>
        </li>
        <li>
            <a class="share-link twitter btn" href="https://twitter.com/intent/tweet?url={{ post.link }}">
                <i class="fab fa-twitter-square"></i> <span class="hidden">Share to Twitter</span>
            </a>
        </li>
        <li>
            <a class="share-link email btn" href="mailto:?subject={{ post.title }}&body=Learn more about this topic by visiting TriumphPay's article here: {{ post.link }}">
                <i class="fas fa-envelope"></i> <span class="hidden">Share via Email</span>
            </a>
        </li>
    </ul>
</div>