{#
	Title: Brand Toggle
	Description: This allows for our components page to visually toggle between the aesthetics of multiple brands
	Category: triumph-blocks
	Icon: align-center
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leadership
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
#}


{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: "brand-toggle"} %}
	{% block block_content %}

	<div class="select-wrapper container-md">
		<select name="brands" id="brand-select">
			<option value="">--Please choose a brand--</option>
			<option value="tbk">TBK</option>
			<option value="tig">TIG</option>
			<option value="tcf">TCF</option>
			<option value="tpay">TPay</option>
		</select>

		{% if fields.show_component_filter %}
			<!-- Component Toggle -->
			<select name="components" id="component-select">
				{% for active_block in active_blocks %}
					{% if loop.index == 1 %}
						<option value="reset">--Show All--</option>
					{% else %}
						<option value="{{ active_block }}">{{ active_block|replace({ ("-"): " " })|title }}</option>
					{% endif %}
				{% endfor %}
			</select>
		{% endif %}
	</div>
	{% endblock %}
{% endembed %}