.process-steps {
	.layout-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include md-and-up {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.copy {
		margin: 0 0 $space-md 0;

		@include md-and-up {
			margin: 0 $space-lg 0 0;
		}
	}
}
ol.process-steps-list {
	list-style: none;
	counter-reset: my-awesome-counter;
	padding-left: $space-lg;
	margin-bottom: 0;
	@include md-and-up {
		&.has-copy {
			max-width: 50%;
		}
	}
	h3 {
		padding-top: 0.35em;
	}
	li {
		position: relative;
		padding: 0 0 $space-md 0;
		counter-increment: my-awesome-counter;
		&:after {
			/* bullets */
			content: counter(my-awesome-counter);
			background: white;
			border: $border-width solid var(--color-accent);
			border-radius: 100%;
			@extend %center-flex;
			font-weight: bold;
			color: $color-ui-dark;
			position: absolute;
			top: 0px;
			height: 2em;
			width: 2em;
			font-size: 1.5em;
			left: -#{$space-lg};
			@include md-and-up {
			}
			@include ie {
				padding-top: 7px;
			}
		}
		&:before {
			/* lines */
			content: "";
			position: absolute;
			left: -2.5em;
			border-left: $border-width solid var(--color-accent);
			height: 100%;
			//width: 1px;
		}
		&:first-child {
			padding-top: 0;
			&:before {
				/* first li's line */
				top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
			}
		}
		&:last-child {
			padding-bottom: 0;
			&:before {
				/* last li's line */
				height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
			}
		}
	}
}
