{#
  Title:Process Steps
  Description: Steps in a process
  Category: triumph-blocks
  Icon: editor-ol
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page account leader partner service
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}
{% set orientation = fields.step_orientation ? fields.step_orientation : '' %}
{% set width = (100 - (100 / fields.steps|length))|round(3, 'floor') %}
{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'process-steps ' ~ orientation } %}
	{% block block_content %}
		{% if fields.copy %}
			<div class="copy">
				{{ fields.copy }}
			</div>
		{% endif %}
		{% if orientation == 'horizontal' %}
			<div class="process-steps-spacer" style="width:{{ width }}%;"></div>
		{% endif %}
		<ol class="process-steps-list">
			{% for step in fields.steps %}
				<li>{{step.copy}}</li>
			{% endfor %}
		</ol>
	{% endblock %}
{% endembed %}