.process-steps {
	.layout-wrapper {
		width: 100%;
		display: block;
		@include md-and-up {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.copy {
		margin: 0 0 $space-md 0;

		@include md-and-up {
			max-width: 40%;
			margin: 0 $space-lg 0 0;
		}
	}
}

ol.process-steps-list {
	list-style: none;
	counter-reset: my-awesome-counter;
	padding-left: $space-lg;
	margin-bottom: 0;
	@include md-and-up {
		flex-grow: 1;
	}

	h3 {
		padding-top: 0.35em;
	}
	li {
		position: relative;
		padding: 0 0 $space-md 0;
		counter-increment: my-awesome-counter;
		&:after {
			/* bullets */
			content: counter(my-awesome-counter);
			background: white;
			border: $border-width solid var(--color-accent);
			border-radius: 100%;
			@extend %center-flex;
			font-family: $font-sans-serif;
			font-weight: 600;
			color: $color-ui-dark;
			position: absolute;
			top: 0px;
			height: 3rem;
			width: 3rem;
			font-size: 1.5rem;
			left: -4rem;
			@include md-and-up {
			}
			@include ie {
				padding-top: 7px;
			}
		}
		&:before {
			/* lines */
			content: "";
			position: absolute;
			left: calc(-#{$border-width} - 2.5rem);
			border-left: $border-width solid var(--color-accent);
			height: 100%;
			//width: 1px;
		}
		&:first-child {
			padding-top: 0;
			&:before {
				/* first li's line */
				top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
			}
		}
		&:last-child {
			padding-bottom: 0;
			&:before {
				/* last li's line */
				height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
			}
		}
	}
}
.process-steps.horizontal {
	.layout-wrapper {
		@include md-and-up {
			display: block;
		}
	}
	.copy {
		@include md-and-up {
			max-width: 100%;
			width: 100%;
			margin-bottom: $space-lg;
			text-align: center;
		}
	}
	ol.process-steps-list {
		@include md-and-up {
			display: flex;
			padding: 0;
			li {
				text-align: center;
				padding: 0 $space-sm;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				> * {
					order: 1;
				}
				&:after {
					position: relative;
					order: 0;
					left: 0;
					margin-bottom: $space-sm;
				}
				&:before {
					display: none;
				}
			}
		}
	}
}
.process-steps-spacer {
	display: none;
	@include md-and-up {
		display: block;
		transform: translateY(calc(1.5em - 2px));
		border-top: $border-width solid var(--color-accent);
		margin: 0 auto;
	}
}
