.basic-block {
	background: #fff;
	border: $border-width solid $color-ui-gray;
	padding: $space-md;
	border-radius: $border-radius;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	@include sm-and-up {
		width: calc(50% - #{$space-sm} * 2);
	}
	@include md-and-up {
		width: calc(33% - #{$space-sm} * 2);
	}

	* {
		width: 100%;
	}
	.title {
		margin-bottom: $space-sm;
		* {
			color: $color-ui-dark;
		}
	}
	a {
		margin-top: $space-sm;
		width: auto;
	}
}
