.icon-block-grid {
	.copy {
		margin-bottom: $space-lg;
	}
	.icon-blocks {
		margin: -#{$space-md} 0;
		flex-wrap: wrap;
		@extend %center-flex;
		justify-content: center;
		align-items: stretch;
		@include lg-and-up {
			justify-content: space-between;
		}
	}
	.icon-block {
		margin: $space-md 0;
	}
}
