.timeline-sliders {
	margin: 0 -#{$space-md};
	@include sm-and-up {
		margin: 0;
	}
}
.timeline-image {
	margin: 0 auto $space-md auto;

	img {
		object-fit: cover;
		max-height: 50vw;
		@include lg-and-up {
			max-height: 35em;
		}
	}
}

.timeline-slider-wrapper {
	font-size: .9em;
	position: relative;
	overflow: hidden;
	.tns-inner {
		padding: $space-xs $space-lg;
	}

	.tns-inner:after {
		content: "";
		@extend %absolute-fill;
		height: calc(100% + 12rem);
		top: -6rem;
		box-shadow: inset 0 0 1rem 5rem $color-ui-light;
		pointer-events: none;
	}

	.tns-controls {
		top: 0;
	}
	.tns-nav-active {
		.timeline-dot {
			background: var(--color-accent);
		}
	}
}
.timeline-event {
	text-align: center;
	padding: 0 $space-sm $space-lg $space-sm;
}
.timeline-dot {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 3rem;
	margin: 0 auto 1rem auto;
	background: $color-ui-light;
	border: $border-width solid var(--color-accent);
}
.timeline-line {
	position: absolute;
	height: $border-width;
	width: 100%;
	background: var(--color-accent);
	top: 1.25rem;
}

[data-background-color="primary"] .timeline-slider-wrapper .tns-inner:after {
	box-shadow: inset 0 0 1rem 5rem var(--color-primary);
}

[data-background-color="secondary"] .timeline-slider-wrapper .tns-inner:after {
	box-shadow: inset 0 0 1rem 5rem var(--color-secondary);
}

[data-background-color="accent"] .timeline-slider-wrapper .tns-inner:after {
	box-shadow: inset 0 0 1rem 5rem var(--color-accent);
}

[data-background-color="white"] .timeline-slider-wrapper .tns-inner:after {
	box-shadow: inset 0 0 1rem 5rem #fff;
}
