.big-checklist {
	ul.checklist {
		margin: -#{$space-sm} 0;
		column-count: 1;
		column-gap: $space-lg;
		@include sm-and-up {
			column-count: 2;
		}

		> li {
			display: flex;
			break-inside: avoid-column;
			padding: $space-sm 0;
		}
	}
	.icon {
		flex-shrink: 0;
		margin-right: $space-sm;
		svg {
			margin: -1em;
			width: 4em;
			height: 4em;
		}
	}
}
