{#
	Title: Banner
	Description: A banner with content and a CTA link.
	Category: triumph-blocks
	Icon: align-center
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}

{% set class = (fields.is_row ? 'banner is-row' : (fields.is_a_header ? 'banner header' : 'banner')) %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: class} %}
	{% block block_content %}
		<div class="content" data-alignment="{{ fields.alignment }}">
			{{ fields.copy }}
		</div>
		{% if fields.links|length %}
		
			<div class="button-group" data-alignment="{{ fields.alignment }}">
				{% for link in fields.links %}
					{% include 'blocks/link/link.twig' %}
				{% endfor %}
			</div>
		{% endif %}
		{% if fields.show_app_icons %}
			{% include 'blocks/app-icons/app-icons.twig' with {alignment:fields.alignment} %}
		{% endif %}
	{% endblock %}
{% endembed %}
