.banner {
	padding: $space-xl 0;
	&[data-background-color="image"] {
		@extend %white-text;
		.background {
			z-index: -1;
			filter: brightness(60%);
		}
		.content {
			text-shadow: .1em .1em .75em rgba(0, 0, 0, 0.25);
			p {
				text-shadow: .1em .1em .75em rgba(0, 0, 0, 0.75);
			}
		}
	}
	.content {
		&[data-alignment="left"] {
			text-align: left;
		}
		&[data-alignment="center"] {
			text-align: center;
		}
		&[data-alignment="right"] {
			text-align: right;
		}
	}

	.button-group {
		margin-top: $space-md;
		&[data-alignment="left"] {
			justify-content: flex-start;
		}
		&[data-alignment="center"] {
			justify-content: center;
		}
		&[data-alignment="right"] {
			justify-content: flex-end;
		}
	}

	&.is-row .layout-wrapper {
		@include md-and-up {
			flex-direction: row;
			display: flex;
			flex-wrap: none;
			justify-content: space-between;
			align-items: center;
			//padding: $space-md;
		}
		.content {
			@include md-and-up {
				flex-grow: 1;
			}
		}
		.button-group {
			@include md-and-up {
				margin-top: 0;
				margin-left: $space-lg;
				flex-shrink: 1;
				width: auto;
				justify-content: flex-end;
				&.app-icons {
					flex-shrink: 0;
				}
			}

			a {
				margin-right: $space-sm;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.apps {
		margin: $space-md auto;
		margin-bottom: 0;
	}
}
