.banner {
	padding: $space-xl 0;
	&[data-background-color="image"] {
		.content {
			text-shadow: .1em .1em .75em rgba(0, 0, 0, 0.75);
		}
	}
	a.btn {
		@include ie {
			display: inline;
		}
	}
	.content,
	.buttons {
		&[data-alignment="left"] {
			text-align: left;
		}
		&[data-alignment="center"] {
			text-align: center;
		}
		&[data-alignment="right"] {
			text-align: right;
		}
	}
	.buttons {
		margin-top: $space-md;
	}
	&[data-background-color="image"] {
		@extend %white-text;
		.background {
			z-index: -1;
			filter: brightness(60%);
		}
	}

	&.is-row .layout-wrapper {
		@include md-and-up {
			flex-direction: row;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			//padding: $space-md;
		}
		.content {
			@include md-and-up {
				max-width: 50%;
			}
		}
		.buttons {
			@include md-and-up {
				margin-top: 0;
			}

			a {
				margin-right: $space-sm;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.apps {
		margin: $space-md auto;
		margin-bottom: 0;
	}
}
