[data-background-color="primary"] {
	background: var(--color-primary);
	@extend %white-text;
}

[data-background-color="secondary"],
[data-background-color="accent"] {
	background: var(--color-secondary);
	@extend %white-text;
}

[data-background-color="accent"] {
	background: var(--color-accent);
}

[data-background-color="white"] {
	background: #fff;
	@extend %dark-text;
}

[data-background-color="image"] {
	@extend %white-text;
	position: relative;
	img.background {
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}

section[data-background-color] {
	transition: max-height 0.2s ease-in;
	&.hide {
		display: none;
	}
}
.section-wrapper {
	padding: $space-lg $space-md;
	@include sm-and-up {
		padding: $space-xl $space-md;
	}
}
$overlap: 6rem;
.overlap {
	> .layout-wrapper {
		margin-bottom: $overlap;
	}
}
.overlap + .section-wrapper {
	padding-top: 0;
	padding-bottom: 0;
	> .layout-wrapper {
		transform: translateY(-#{$overlap});
		margin-bottom: -#{$space-md};
	}
}
