.alert-banner {
	@extend %white-text;
	background: var(--color-secondary);

	overflow: hidden;
	max-height: 0;
	transition: max-height 250ms ease-out;
	font-size: 1em;
	&[data-open="true"] {
		max-height: 12em;
	}

	a {
		color: $color-ui-light;
		text-decoration: underline;
		text-decoration-color: rgba($color-ui-light, 0.7);
		&:hover,
		&:focus {
			color: #fff;
			text-decoration-color: #fff;
		}
	}
	.alert-close {
		@extend %button-clean;
		font-size: 2em;
		padding: 0;
		.hidden {
			display: none;
		}
	}
}
.alert-border {
	height: 0.5rem;
	width: 100%;
}
.alert-icon {
	font-size: 2em;
	height: 100%;
	width: auto;
}
.alert-message {
	> :last-child {
		margin-bottom: 0;
	}
	> * {
		font-family: $font-sans-serif;
	}
}
.alert-banner-content-wrapper {
	padding: $space-sm $space-md;
	@include lg-and-up {
		padding: $space-sm $space-lg;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	> *:not(:last-child) {
		margin-right: 1rem;
	}
}
