.alert-banner {
	background: var(--color-secondary);
	color: $color-ui-light;
	overflow: hidden;
	max-height: 0;
	transition: max-height 250ms ease-out;
	font-size: 1em;
	&[data-open="true"] {
		max-height: 12em;
	}

	a {
		color: $color-ui-light;
		text-decoration: underline;
		text-decoration-color: rgba($color-ui-light, 0.7);
		&:hover,
		&:focus {
			color: #fff;
			text-decoration-color: #fff;
		}
	}
	.alert-close {
		@extend %button-clean;
		font-size: 1.5em;
		padding: 0.25em;
		.hidden {
			display: none;
		}
	}
}
.alert-border {
	height: 0.5rem;
	width: 100%;
}
.alert-icon {
	font-size: 2em;
	height: 100%;
	width: auto;
	img {
		width: auto;
		height: 30px;
	}
}
.alert-message {
	> :last-child {
		margin-bottom: 0;
	}
	> * {
		font-family: $font-sans-serif;
	}
}
.alert-banner-content-wrapper {
	padding: $space-sm $space-md;
	@include lg-and-up {
		padding: $space-sm $space-lg;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	> *:not(:last-child) {
		margin-right: 1rem;
	}
}

.alert-banner.merged-office[data-open="true"] {
	max-height: 100%;
	position: relative;
	padding: $space-md $space-sm;
	background: var(--color-secondary);
	color: #fff;
	border-bottom: 0.5rem solid var(--color-primary);
	.alert-banner-content-wrapper {
		flex-direction: column;
		max-width: $breakpoint-lg;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.icon {
			width: 50px;
			margin-bottom: $space-sm;
		}
		.alert-close {
			position: absolute;
			right: 5%;
			top: 5%;
		}
	}
}
