.alert-banner {
	@extend %white-text;
	background: var(--color-secondary);
	overflow: hidden;
	max-height: 0;
	transition: max-height 250ms ease-out;
	font-size: .9rem;
	&[data-open="true"] {
		max-height: 12em;
	}
	@include sm-and-up {
		padding: 0 $space-sm;
	}

	a {
		color: $color-ui-light;
		text-decoration: underline;
		text-decoration-color: rgba($color-ui-light, 0.7);
		&:hover,
		&:focus {
			color: #fff;
			text-decoration-color: #fff;
		}
	}
	.alert-close {
		@extend %button-clean;
		font-size: 1.5em;
		padding: $space-xs $space-sm;
		transition: transform 150ms ease-out;
		.hidden {
			display: none;
		}
		&:hover {
			transform: scale(1.1);
		}
	}
}
.alert-border {
	height: 0.5rem;
	width: 100%;
}
.alert-icon {
	margin: 0 $space-sm;
	font-size: 1.5em;
	height: 100%;
	width: auto;
}
.alert-message {
	padding: $space-sm 0;
	> :last-child {
		margin-bottom: 0;
	}
	> * {
		font-family: $font-sans-serif;
	}
}
.alert-banner-content-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.ring-the-bell {
	animation: wiggle 4.5s infinite;
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0deg);
	}
	52% {
		transform: rotate(5deg);
	}
	54% {
		transform: rotate(-5deg);
	}
	56% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
