<div class="wrapper-block-wrapper">
	<div class="wrapper-block-title">
		<div><strong>Wrapper</strong></div>
		<div class="small"><em>Layout options like width and background color are in the block tab of the right sidebar.</em></div>
	</div>
	<div class="wrapper-innerblock-wrapper">
		<InnerBlocks />
	</div>
</div>

<style>

[data-title="Wrapper"] {
	border: #adb2ad solid 1px;
}
.wrapper-innerblock-wrapper,
.wrapper-block-title{
	padding:30px;
}
.wrapper-block-title{
	
	border-bottom:#adb2ad solid 1px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.small{
	font-size:12px;
}
</style>