@media (min-width: 782px) {
	.wp-block-column:not(:first-child) {
		margin-left: $space-lg;
	}
}
.wp-block-columns {
	margin: $space-lg 0;
}
.layout-wrapper > .wp-block-columns {
	&:last-child {
		margin: 0;
	}
}

.wp-block-columns + h1,
.wp-block-columns + h2,
.wp-block-columns + h3,
.wp-block-columns + h4 {
	margin-top: $space-lg;
}
