.share-buttons {
	display: flex;
	align-items: center;
	.label {
		margin: 0;
		@extend %uppercase;
		font: 600 .875rem/1 $font-sans-serif;
	}
	> *:not(:last-child) {
		margin-right: $space-sm;
	}
}
ul.share-links {
	margin: $space-sm 0;
	display: flex;
	align-items: center;
	> *:not(:last-child) {
		margin-right: $space-xs;
	}
	a {
		display: block;
		padding: 0 $space-xs;
		transition: transform 150ms ease;
		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}
	.facebook {
		color: #4162ae;
	}
	.twitter {
		color: #56abf1;
	}
}
