.tns-horizontal > .tns-item.testimonial {
	vertical-align: middle;
}

.testimonial-carousel.section-wrapper {
	padding: $space-lg 0;
	padding-bottom: $space-xl;
	//background-image: url("../../assets/img/pattern.svg");
	//background-size: 5rem 10rem;
	@include sm-and-up {
		padding: $space-xl 0;
	}
}
.testimonial-carousel {
	overflow: hidden;
	max-width: 100vw;
	.tns-nav {
		transform: translateY($space-lg);
	}

	@include md-and-up {
		padding: $space-lg $space-md;
	}
}
.testimonial {
	h4 {
		letter-spacing: 0;
		text-transform: none;
		font-weight: 400;
	}
	blockquote {
		padding: 0 $space-lg;
		max-width: $breakpoint-md;
		margin: 0 auto;
		text-align: center;
		font-size: 1.2em;
		@include sm-and-up {
			font-size: 1.3em;
		}

		@include md-and-up {
			font-size: 1.4em;
		}
		cite {
			display: block;
			margin-top: $space-md;
			font-style: normal;
			font-size: 1rem;
		}
	}
}
