.testimonial-carousel {
	position: relative;
	.section-wrapper {
		padding: $space-lg $space-sm;
	}
	.tns-controls {
		display: none;
	}
	.testimonials {
		display: flex;
		.testimonial {
			text-align: center;
			display: flex;
			justify-content: center;
			flex-direction:column;
			h3 {
				max-width:290px;
				@include se {
					max-width:190px;
				}
				@include sm-and-up {
					max-width:300px;
				}
				@include md-and-up {
					max-width:$breakpoint-md;
				}
				p {
					font-weight: normal;
					line-height: $space-md;
					color: $color-ui-dark;
					margin-bottom: $space-md;
				}
			}
		}
	}
	.tns-nav {
		position: absolute;
		bottom: $space-sm;
		z-index: 2;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		button {
			@extend %tns-button;
			background: var(--color-primary);
		}
	}
	.controls.tns-item {
		display: none;
	}
}

#testimonial-controls.controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 50%;
	left:0;
	transform: translateY(-50%);
	padding:0 $space-sm;
	@include sm-and-up {
		padding:0 $space-md;
	}
	li {
		cursor:pointer;
		img {
			width:40px;
		}
		&.prev {
			left:0;
		}
		&.next {
			right:0;
			img {
				transform:rotate(180deg);
			}
		}
	}
}