$nav-letter-spacing: 0;

header#header {
	position: sticky;
	top: 0;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
	@include sm-and-up {
		position: relative;
		box-shadow: none;
	}
	z-index: 3;
}
.menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: #ffffff;
	padding: $space-sm $space-md;
	font-family: $font-sans-serif;
	font-size: .9rem;
	* {
		font-family: $font-sans-serif;
	}

	@include lg-and-up {
		flex-wrap: nowrap;
		height: $menu-height;
		padding: $space-md $space-lg;
	}

	a {
		color: var(--color-secondary);
		font-weight: 600;
		letter-spacing: $nav-letter-spacing;
		&:hover {
			color: $color-link-default;
		}
	}
}

.menu-logo {
	width: 14rem;
	flex-shrink: 0;
	@include se {
		width: 10em;
	}
}
.main-menu-wrapper {
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: 500ms max-height ease-out;
	display: flex;
	flex-wrap: wrap;
	@include lg-and-up {
		max-height: $menu-height;
		overflow: visible;
		flex-wrap: nowrap;
		> ul {
			margin-left: $space-sm;
		}
	}
}

.collapse-heading {
	@extend %button-clean;
	background: none;
	border: none;
	color: var(--color-secondary);
	svg {
		display: none;
	}
}

$transition-time: 250ms;

.has-subnav {
	a {
		display: block;
		padding: 0.2em 0;
	}

	@include lg-and-up {
		position: relative;
		z-index: 1;
		height: 2.75rem;
		text-align: center;

		.collapse-heading {
			height: 2.7rem;
			transition: border-bottom 0ms linear $transition-time, border-radius 0ms linear $transition-time;
			padding: 0 $space-sm;
			border: $border-width solid var(--color-secondary);
			margin: 0;
			letter-spacing: $nav-letter-spacing;
			@include semi-and-up {
				padding: 0 1.5rem;
			}
			svg {
				display: inline-block;
			}
		}
		ul {
			background: #fff;
			transition: $transition-time max-height ease-in-out, border-color 0ms ease $transition-time;
			border-radius: 0 0 $border-radius $border-radius;
			border: none;
			border-top: none;
			overflow: hidden;
			max-height: 0;
		}
		a {
			font-family: $font-sans-serif;
			display: block;
			padding: $space-xs;
			background: var(--color-primary);
			letter-spacing: $nav-letter-spacing;
			color: $color-ui-light;

			&:hover {
				background: var(--color-secondary);
				color: $color-ui-light;
			}
		}

		&:hover {
			.collapse-heading {
				transition: border-radius 0ms linear 0ms;
				border-radius: $border-radius $border-radius 0 0;
			}
			ul {
				max-height: 45em;
				border-color: var(--color-secondary);
				transition: $transition-time max-height ease-in-out;
			}
		}
	}
}

ul.menu-header-nav {
	width: 100%;
	margin: $space-md 0;
	border-bottom: 1px solid rgba($color-ui-gray, 0.2);
	justify-content: center;
	font-family: $font-sans-serif;
	&.single-nav-menu {
		justify-content: flex-end;
	}
	> li {
		@extend %uppercase;
		a {
			border-top: 1px solid rgba($color-ui-gray, 0.2);
			display: block;
			padding: $space-xs 0;
		}
	}
	.collapse-heading {
		display: none;
	}

	@include lg-and-up {
		border: none;
		margin: 0;
		display: flex;
		align-items: center;
		&:hover {
			ul {
				border-color: transparent;
			}
		}
		.collapse-heading {
			border-color: transparent;
			width:100%;
			display: block;
		}
		> li {
			margin-left: calc(#{$space-md} - 1em);
			@include semi-and-up {
				margin-left: calc(#{$space-lg} - 1em);
			}
			&.has-subnav ul {
				position: absolute;
				min-width: max-content;
				margin-left: auto;
				margin-right: auto;
				left: -50%;
				right: -50%;
				width:100%;
			}
			a {
				border: none;
				padding:8px $space-sm;
			}
		}
		> li.has-subnav {
			margin-left: 0;
			&:not(.collapse-header) {
				text-transform: none;
				letter-spacing: 0;
			}
		}
	}
}

ul.menu-header-register {
	margin-right: $space-lg;
	@include lg-and-up {
		margin-left: auto;
		margin-right: 0;
	}
}
.menu-header-login {
	@include lg-and-up {
		.collapse-heading {
			border-color: var(--color-primary);
			color: white;
			background: var(--color-primary);
		}

		> li {
			color: var(--color-primary);
		}
	}
}
.menu-header-get-started {
	li {
		background: var(--color-primary);
		a {
			color:white;
		}
	}
}

.menu-toggle {
	@extend %button-clean;
	height: 3em;
	padding: 0.75em;
	margin: 0 0 0 auto;
	width: 3em;
	transform: translateX(1em);

	@include lg-and-up {
		display: none;
	}

	span {
		background-color: $color-ui-dark;

		content: "";
		display: block;
		height: 2px;
		margin: 0.5em 0;
		transition: all 0.2s ease-in-out;

		&:first-child {
			margin: 0 0 0.5em 0;
		}
		&:last-child {
			margin: 0.5em 0 0 0;
		}
	}
}

[data-menu-state="open"] {
	.menu-toggle {
		span {
			transform: scale(0);
		}

		span:first-child {
			transform: translateY(0.6em) rotate(135deg);
		}

		span:last-child {
			transform: translateY(-0.6em) rotate(-135deg);
		}
	}
	.main-menu-wrapper {
		max-height: 100vh;
	}
}
