#menu {
	background: #fff;
	font-family: $font-sans-serif;
	//padding: $space-sm $space-md;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 4;
	max-height: 5rem;
	transition: max-height 450ms ease;
	overflow: hidden;

	.mobile-show {
		display: block;
	}
	.mobile-hide {
		display: none;
	}

	@include lg-and-up {
		overflow: visible;
		.mobile-show {
			display: none;
		}
		.mobile-hide {
			display: block;
		}
	}

	.menu-logo {
		display: block;
		width: 12rem;
		height: 3rem;
		margin: $space-sm $space-md;
		img {
			height: 100%;
			width: 100%;
		}
	}
}

.main-menu-wrapper {
	padding: 0 $space-md $space-md $space-md;
	width: 100%;

	@include lg-and-up {
		padding: 0;
		opacity: 1;
		overflow: visible;
		max-height: 100vh;
		width: auto;
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		> *:not(:last-child) {
			margin-right: 1rem;
		}
		> *:last-child {
			margin-right: $space-md;
		}
	}
}
ul.menu-header-nav {
	@include lg-and-up {
		margin-right: auto;
	}
}
a.menu-link {
	display: block;
	&.nav-section-header {
		@extend %uppercase;
	}
}
.has-subnav {
	//position: relative;

	&[data-subnav-toggle='closed'] {
		ul.header-menu-child {
			padding-top: 0;
			padding-bottom: 0;
			max-height: 0;
			overflow: hidden;
		}
	}

	&[data-subnav-toggle='open'] {
		.toggle-icon {
			transform: rotate(180deg);
		}
	}
}
.subnav-toggle {
	@extend %button-clean;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.menu-heading-title {
		margin-right: $space-xs;
	}

	.toggle-icon {
		box-sizing: border-box;
		display: block;
		text-align: center;
		padding: 0;
		position: relative;
		transition: transform 100ms ease;
	}
}
.menu-heading-title {
	line-height: 1;
	@extend %uppercase;
	display: block;
	font-weight: 600;
	padding: 0.78rem 0;
	@include lg-and-up {
		padding: 1rem 0 1rem 1rem;
	}
}
.menu-title {
	pointer-events: none;
	display: block;
	font-weight: 600;
	//padding: .25em 0;
}
.menu-heading-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include lg-and-up {
		justify-content: flex-start;
	}
}

ul.header-menu {
	&[data-level='1'] {
		@include lg-and-up {
			margin-top: 0;
			display: flex;
			font-size: 0.875rem;
			height: 2.75rem;
			overflow: visible;
		}
	}
	li[data-level='1'] {
		border-top: $border-width solid rgba($color-ui-gray, 0.1);
		@include lg-and-up {
			border-top: none;
			padding-right: 0.75rem;
		}
	}
}
ul.header-menu-child {
	position: relative;
	z-index: 2;
	overflow: auto;
	max-height: 90em;
	transition: max-height 350ms ease, padding 350ms ease;
	> li {
		margin-bottom: 0.5em;
		&:last-child {
			margin-bottom: 1em;
		}
	}
	@include lg-and-up {
		max-height: 30em;
		position: absolute;
		width: 24ch;
		background: #fff;
		border-radius: $border-radius;
		> li {
			&:last-child {
				margin-bottom: 0.5rem;
			}
			a {
				padding: 0 1rem;
			}
		}
	}
}

ul.menu-header-utility {
	@include lg-and-up {
		margin-left: auto;
	}
}

ul.menu-header-nav + .menu-header-buttons {
	@include lg-and-up {
		margin-left: auto;
	}
}

.menu-header-buttons {
	margin-top: $space-sm;
	@include lg-and-up {
		margin-top: 0;
		flex-shrink: 1;
		width: auto;
	}
}

.menu-toggle {
	@extend %button-clean;
	height: 3rem;
	padding: 0.78rem;
	margin: 0 $space-sm 0 auto;
	width: 3rem;
	//transform: translateX(1em);

	@include lg-and-up {
		display: none;
	}

	span {
		background-color: $color-ui-dark;

		content: '';
		display: block;
		height: 2px;
		margin: 0.5rem 0;
		transition: all 0.2s ease-in-out;

		&:first-child {
			margin: 0 0 0.5rem 0;
		}
		&:last-child {
			margin: 0.5rem 0 0 0;
		}
	}
}

[data-menu-state='open'] {
	.menu-toggle {
		span {
			transform: scale(0);
		}

		span:first-child {
			transform: translateY(0.625rem) rotate(135deg);
		}

		span:last-child {
			transform: translateY(-0.625rem) rotate(-135deg);
		}
	}
	#menu {
		max-height: 300vh;
	}
}
