ul.menu-header-mega-nav {
	[data-subnav-toggle="open"] {
		.header-menu-child {
			overflow-y: auto;
		}
	}
	&.header-menu[data-level="1"] {
		height: auto;
	}

	.menu-heading-title[data-level="1"] {
		@include lg-and-up {
			padding: $space-md 0;
		}
	}
	ul[data-level="2"] {
		@extend %light-link;
		background: var(--color-primary);
		margin: 0 -#{$space-md};
		padding: $space-sm $space-md;

		@include lg-and-up {
			display: flex;
			justify-content: center;
			border-radius: 0;
			position: absolute;

			margin: 0;
			left: 0;
			width: 100%;

			> li {
				margin: $space-md 0;
			}
			.header-menu-child {
				margin: $space-sm 0;
				background: transparent;
				position: relative;
				max-height: 30em;
				width: auto;
			}
		}
		&[data-title="Business"] {
			background: var(--color-accent-blue);
		}
		&[data-title="Personal"] {
			background: var(--color-accent-green);
		}
		&[data-title="Our Bank"] {
			background: var(--color-accent-rust);
		}
		a {
			&:hover,
			&:focus {
				color: #fff !important;
			}
		}

		.menu-heading-title {
			//padding: 0;
			@include lg-and-up {
				padding: 0;
			}
		}
		.menu-title {
			padding: 0;
		}

		.subnav-toggle {
			color: $color-ui-light;

			&:hover,
			&:focus {
				color: #fff;
			}
			@include lg-and-up {
				display: none;
			}
		}
	}
	li[data-level="3"] {
		@include lg-and-up {
			a {
				line-height: 1.3;
				padding: .25rem $space-sm;
			}
		}
	}
}
