#menu-search {
	border-top: $border-width solid $color-ui-light;
	width: 100%;
	@include lg-and-up {
		display: flex;
		padding: 0 $space-md;
	}
	.subnav-toggle.menu-search {
		display: none;
		@extend %button-clean;
		height: 2.5rem;
		width: 2.5rem;
		padding: .5rem;
		text-transform: uppercase;
		letter-spacing: .1em;
		font: 600 .875rem $font-sans-serif;
		@include lg-and-up {
			display: block;
		}
	}
	.menu-search-mobile {
		@include lg-and-up {
			display: none;
		}
	}
	&[data-subnav-toggle="open"] {
		#menu-search-content {
			max-height: 100vh;
			padding: $space-md 2.5rem $space-md $space-md;
		}
	}
}

ul.menu-header-quick-links {
	overflow: hidden;
	padding: 1.25rem;
	flex-grow: 1;
	transition: max-height 350ms ease, padding 350ms ease;
	font: 600 .875rem $font-sans-serif;
	@extend %uppercase;

	@include lg-and-up {
		padding: 0;
		max-height: 4rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	> li {
		@include lg-and-up {
			margin-left: $space-xs;
		}

		a {
			padding: .78rem;
			white-space: nowrap;
		}
	}
}

#menu-search-content {
	background: $color-ui-light;
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0 2.5rem 0 $space-md;
	//background: rgba($color-ui-gray, 0.2);
	@include lg-and-up {
		display: block;
		overflow: hidden;
		max-height: 0;
		transition: max-height 350ms ease, padding 350ms ease;
		&[data-search-menu-state="closed"] {
			max-height: 0;
		}
	}
	.search-wrapper {
		display: flex;
	}
	.search-form {
		min-width: 30ch;
		display: flex;
		flex-direction: column;
	}
	.search-message {
		margin-top: auto;
	}
	.form-inline {
		margin: 0;
		overflow: hidden;
	}
}

.menu-header-search {
	display: flex;
	flex-wrap: wrap;
	> * {
		width: 30ch;
		margin-bottom: $space-xs;
	}
}

button.subnav-close {
	position: absolute;
	right: 2.5rem;
	top: $space-sm;
	@extend %button-clean;
	font-size: 1.75em;
	opacity: .8;
}
