#menu {
	font-family: $font-sans-serif;
	padding: $space-sm $space-md;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;

	@include lg-and-up {
		padding: $space-md;
	}

	.menu-logo {
		display: block;
		width: 12em;
		margin-right: $space-sm;
	}
}

.main-menu-wrapper {
	margin-top: 0;
	opacity: 0;
	width: 100%;
	max-height: 0;
	transition: max-height 350ms ease, margin-top 250ms ease, opacity 150ms ease;
	@include lg-and-up {
		margin-top: 0;
		opacity: 1;
		overflow: visible;
		max-height: 100vh;
		width: auto;
		flex-grow: 1;
		display: flex;
	}
}
ul.header-menu {
	//margin-top: $space-sm;

	> li {
		@include lg-and-up {
			//max-width: 12em;
		}
		border-top: $border-width solid rgba($color-ui-gray, .1);
	}
	a {
		font-weight: 600;
		&:hover,
		&:focus {
			color: var(--color-secondary);
		}
	}
	> .menu-item > a,
	> .menu-item > .menu-heading-wrapper {
		text-transform: uppercase;
		font-weight: 600;
		@include lg-and-up {
			padding: 0 0 0 .75rem;
			.menu-heading-title {
				padding: .75rem 0;
			}
		}
	}
	@include lg-and-up {
		margin-top: 0;
		display: flex;
		font-size: .9rem;
		height: 2.75rem;
		overflow: visible;
		> li {
			border-top: none;
		}
	}
}
a.menu-link {
	display: block;
}
.menu-heading-title {
	display: block;
}
.menu-heading-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include lg-and-up {
		justify-content: flex-start;
	}
}

.subnav-toggle {
	@extend %button-clean;
	box-sizing: border-box;
	display: block;
	color: var(--color-primary);
	width: 3rem;
	text-align: center;
	padding: 1rem;
	position: relative;
	right: -1rem;
	&:hover,
	&:focus {
		color: var(--color-secondary);
	}
	@include lg-and-up {
		color: $color-ui-dark;
		pointer-events: none;
		right: 0;
		width: 2rem;
		padding: .5rem;
	}
}
ul.header-menu-child {
	position: relative;
	z-index: 1;
	overflow: hidden;
	max-height: 100vh;
	transition: max-height 350ms ease;

	.menu-item {
		margin-bottom: $space-xs;
		a {
			line-height: 1.25;
			padding: .25rem 0;
		}
	}
	@include lg-and-up {
		position: absolute;
		width: 100%;
		background: $color-ui-light;
		border-radius: $border-radius;
		.menu-item {
			&:last-child {
				margin-bottom: $space-sm;
			}
			a {
				padding: .25rem 1rem;
			}
		}
	}
}
.has-subnav {
	position: relative;
	&[data-subnav-toggle="closed"] {
		ul.header-menu-child {
			max-height: 0;
		}
	}
	@include lg-and-up {
		&:hover {
			ul.header-menu-child {
				max-height: 30em;
			}
		}
	}
}

ul.menu-header-utility {
	@include lg-and-up {
		margin-left: auto;
	}
}
ul.menu-header-buttons {
	margin: $space-sm 0 0 0;
	a {
		width: 100%;
	}
	@include sm-and-up {
		a {
			width: auto;
		}
	}
	@include lg-and-up {
		margin: 0 0 0 $space-sm;
	}
}

.menu-toggle {
	@extend %button-clean;
	height: 3em;
	padding: 0.75em;
	margin: 0 0 0 auto;
	width: 3em;
	transform: translateX(1em);

	@include lg-and-up {
		display: none;
	}

	span {
		background-color: $color-ui-dark;

		content: "";
		display: block;
		height: 2px;
		margin: 0.5rem 0;
		transition: all 0.2s ease-in-out;

		&:first-child {
			margin: 0 0 0.5rem 0;
		}
		&:last-child {
			margin: 0.5rem 0 0 0;
		}
	}
}

[data-menu-state="open"] {
	.menu-toggle {
		span {
			transform: scale(0);
		}

		span:first-child {
			transform: translateY(0.6rem) rotate(135deg);
		}

		span:last-child {
			transform: translateY(-0.6rem) rotate(-135deg);
		}
	}
	.main-menu-wrapper {
		margin-top: $space-sm;
		max-height: 100vh;
		opacity: 1;
		@include lg-and-up {
			margin: 0;
		}
	}
}
