{#
	Title: Blog List
	Description: A list of blogs outputted in the news page format
	Category: triumph-blocks
	Icon: align-center
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}

{% if posts|length == 1 %}
	{% set posts = recent_news|slice(0,1) %}
	{% set identity = "demo-block" %}
{% else %}
	{% set identity = "" %}
{% endif %}


<div {{ anchor ? 'id="'~ anchor ~'"' : '' }} class="blog-list">
	{% if posts|length > 1 %}
		<div id="list-total">q</div>
	{% endif %}
	<ol class="list {{ identity }}">
		{% for post in posts %}
			{% include 'blocks/tease/tease-post.twig' %}
		{% endfor %}
	</ol>
	<button id="blog-load-more" class="btn outline primary">Load More</button>
</div>