{#
  Title: Content Grid
  Description: Content Grid
  Category: triumph-blocks
  Icon: grid-view
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page account leadership
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}

{% if fields.alternative_background_margin %}
	{% set class = 'content-grid alternative-background-margin' %}
{% else %}
	{% set class = 'content-grid' %}
{% endif %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: class } %}
	{% block block_content %}
		{% if fields.grid_copy %}
			<div class="content-grid-copy {{ fields.grid_copy_width }}">
				{{ fields.grid_copy }}
			</div>
		{% endif %}
		<ul class="content-grid-list" data-max-columns="{{ fields.grid_max_columns }}" data-align="{{ fields.grid_item_alignment }}">
		{% for grid_item in fields.grid_items %}
			{% include ['blocks/content-grid/item-' ~ fields.grid_item_style ~ '.twig', 'blocks/content-grid/item-default.twig'] %}
		{% endfor %}
		</ul>
    {% endblock %}
{% endembed %}
