.content-grid-copy {
	margin-bottom: $space-md;
}
$grid-gap: 3rem;
ul.content-grid-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 calc(-#{$grid-gap} / 2);
	> li {
		margin: calc(#{$grid-gap} / 2);
	}
	&[data-align="left"] {
		text-align: left;
	}
	&[data-align="center"] {
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
	&[data-align="right"] {
		text-align: right;
	}
	&[data-max-columns="1"] {
		> li {
			@include sm-and-up {
				width: 100%;
			}
		}
	}
	&[data-max-columns="2"] {
		> li {
			@include sm-and-up {
				width: calc(50% - #{$grid-gap});
			}
			@include md-and-up {
				width: calc(50% - #{$grid-gap});
			}
		}
	}
	&[data-max-columns="3"] {
		> li {
			@include sm-and-up {
				width: calc(50% - #{$grid-gap});
			}
			@include md-and-up {
				width: calc(33.3% - #{$grid-gap});
			}
		}
	}
	&[data-max-columns="4"] {
		> li {
			@include sm-and-up {
				width: calc(50% - #{$grid-gap});
			}
			@include md-and-up {
				width: calc(50% - #{$grid-gap});
			}
			@include lg-and-up {
				width: calc(25% - #{$grid-gap});
			}
		}
	}
}
li.content-grid-item {
	width: 100%;
	display: flex;
	flex-direction: column;

	@include sm-and-up {
		width: calc(50% - #{$grid-gap});
	}
	@include md-and-up {
		width: calc(33.33% - #{$grid-gap});
		&.grid-item-card {
			padding: 0;
		}
	}
	.grid-item-header + .grid-item-footer {
		margin: 0 $space-md $space-md $space-md;
	}
}
.grid-item-header {
	position: relative;
	background: $color-ui-gray;
	margin-bottom: $space-sm;
	height: calc(14em + 10vw);
	@include md-and-up {
		height: calc(16em);
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
a.grid-item-header {
	border-radius: $border-radius;
	overflow: hidden;
}

.grid-item-copy {
	flex-grow: 1;
}

.grid-item-footer {
	margin-top: $space-sm;
}

li[data-style="card"] {
	@extend %dark-text;
	background: #fff;
	border-radius: $border-radius;
	overflow: hidden;
	border: $border-width solid rgba($color-ui-gray, .2);

	.grid-item-header {
		margin-bottom: 0;
	}
	a.grid-item-header {
		border-radius: 0;
	}
	.grid-item-copy {
		margin: $space-md;
	}
	.grid-item-footer {
		margin: 0 $space-md $space-md $space-md;
	}

	.grid-item-header {
		margin-bottom: 0;
	}
	.grid-item-copy {
		margin: $space-md;
	}
	.grid-item-header + .grid-item-footer {
		margin: $space-md;
	}

	> :last-child {
		margin-bottom: $space-md;
	}
}

li[data-image-style="icon"] {
	.grid-item-header {
		background: transparent;
		position: relative;
		height: auto;
		margin: 0;
	}
	.grid-item-copy {
		margin-top: 0;
	}
}

.content-grid.alternative-background-margin {
	@include md-and-up {
		padding-top: 0;
		border-top: $grid-gap solid white;
		//padding-bottom: $grid-gap;
		ul {
			margin-top: calc(#{-$grid-gap} * 2);
		}
	}
}
