<div class="crosshair-frame">
	<svg class="top-left" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
		<style type="text/css">
				.accent{
					fill-rule:evenodd;
					clip-rule:evenodd;
					fill:{{ function('get_theme_mod','triumph_color_accent') }};
				}
			</style>
		<polygon class="accent" points="155,45 155,155 45,155 0,200 155,200 200,200 200,155 200,0 "/>
	</svg>
	<svg class="bottom-right" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
		<style type="text/css">
				.accent{
					fill-rule:evenodd;
					clip-rule:evenodd;
					fill:{{ function('get_theme_mod','triumph_color_accent') }};
				}
			</style>
		<polygon class="accent" points="155,45 155,155 45,155 0,200 155,200 200,200 200,155 200,0 "/>
	</svg>

	<svg class="crosshair-square" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
			<style type="text/css">
				.accent{
					fill-rule:evenodd;
					clip-rule:evenodd;
					fill:{{ function('get_theme_mod','triumph_color_accent') }};
				}
			</style>
		<polygon class="accent" points="478.25,395.75 478.25,478.25 395.75,478.25 362,512 478.25,512 512,512 512,478.25 512,362 "/>
		<polygon class="accent" points="33.75,116.25 33.75,33.75 116.25,33.75 150,0 33.75,0 0,0 0,33.75 0,150 "/>
	</svg>

</div>