.account-features {
	.content-intro-copy {
		margin-bottom: $space-md;
	}
}
ul.account-features-list {
	column-count: 1;
	break-inside: avoid;
	column-gap: $space-md;
	margin-bottom: $space-md;
	@include sm-and-up {
		column-count: 2;
	}
	> li {
		display: inline-block;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		-moz-page-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
		padding-left: 1em;
		text-indent: -1em;
		p {
			display: inline;
		}
		i,
		svg {
			color: var(--color-primary);
		}
		.title {
		}
		margin: $space-sm 0;
	}
	> li:before {
		content: "+";
		margin-right: .5em;
	}
	> li:not(:last-child) {
		margin-bottom: $space-xs;
	}
}
