.account-features {
	.content-intro-copy {
		margin-bottom: $space-md;
	}
}
ul.account-features-list {
	//@extend %plus-list;
	@extend %bullet-list;
	column-count: 1;
	break-inside: avoid;
	column-gap: $space-md;
	margin-bottom: $space-md;

	@include sm-and-up {
		column-count: 2;
	}
	> li {
		width: 100%;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		-moz-page-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;

		p {
			display: inline;
		}
		i,
		svg {
			color: var(--color-primary);
		}
	}
}
