//
// Colors
//

// Brand Colors
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

// UI Colors
$color-ui-light: #f2f2f2;
$color-ui-gray: hsl(205, 10%, 50%);
$color-ui-dark: #515459;

// Link Colors
$color-link-default: hsl(205, 50%, 50%);
