@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Bold/Gotham-Bold_Web.woff2') format('woff2'), url('../../assets/fonts/Gotham-Bold/Gotham-Bold_Web.woff') format('woff');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	text-rendering: optimizeLegibility;
}

/*
@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Bold/Gotham-BoldItalic_Web.eot');
	src: url('../../assets/fonts/Gotham-Bold/Gotham-BoldItalic_Web.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gotham-Bold/Gotham-BoldItalic_Web.woff2') format('woff2'),
		url('../../assets/fonts/Gotham-Bold/Gotham-BoldItalic_Web.woff') format('woff');
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	text-rendering: optimizeLegibility;
}
*/
@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Medium/Gotham-Medium_Web.woff2') format('woff2'), url('../../assets/fonts/Gotham-Medium/Gotham-Medium_Web.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	text-rendering: optimizeLegibility;
}
/*
@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Medium/Gotham-MediumItalic_Web.eot');
	src: url('../../assets/fonts/Gotham-Medium/Gotham-MediumItalic_Web.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gotham-Medium/Gotham-MediumItalic_Web.woff2') format('woff2'),
		url('../../assets/fonts/Gotham-Medium/Gotham-MediumItalic_Web.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	text-rendering: optimizeLegibility;
}
*/

@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Book/Gotham-Book_Web.woff2') format('woff2'), url('../../assets/fonts/Gotham-Book/Gotham-Book_Web.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	text-rendering: optimizeLegibility;
}
/*
@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Book/Gotham-BookItalic_Web.eot');
	src: url('../../assets/fonts/Gotham-Book/Gotham-BookItalic_Web.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gotham-Book/Gotham-BookItalic_Web.woff2') format('woff2'),
		url('../../assets/fonts/Gotham-Book/Gotham-BookItalic_Web.woff') format('woff');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	text-rendering: optimizeLegibility;
}


@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Light/Gotham-Light_Web.eot');
	src: url('../../assets/fonts/Gotham-Light/Gotham-Light_Web.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gotham-Light/Gotham-Light_Web.woff2') format('woff2'),
		url('../../assets/fonts/Gotham-Light/Gotham-Light_Web.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham-Light/Gotham-LightItalic_Web.eot');
	src: url('../../assets/fonts/Gotham-Light/Gotham-LightItalic_Web.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Gotham-Light/Gotham-LightItalic_Web.woff2') format('woff2'),
		url('../../assets/fonts/Gotham-Light/Gotham-LightItalic_Web.woff') format('woff');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	text-rendering: optimizeLegibility;
}
*/

$font-serif: 'Crimson', 'Georgia', serif;
$font-sans-serif: 'Gotham', 'Arial', sans-serif;
