.info-carousel {
	overflow: hidden;
	.layout-wrapper {
		@include md-and-up {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
		}
	}
}
.info-carousel-heading-mobile {
	text-align: center;
	margin-bottom: $space-md;
	display: block;
	@include md-and-up {
		display: none;
	}
}
.info-carousel-heading-desktop {
	display: none;
	@include md-and-up {
		display: block;
		margin-left: $space-sm;
	}
}
.slide-copy-wrapper {
	position: relative;
	//min-height: 10em;
	margin: $space-md 0 0 0;
	@include md-and-up {
		margin: 0 $space-md 0 -#{$space-sm};
	}
	@include lg-and-up {
		margin: 0 8vw 0 -#{$space-sm};
	}
}
.info-carousel-slide-copy {
	margin: $space-sm 0;
	text-align: center;
	padding: $space-sm;
	padding-right: $space-md;
	border-radius: $border-radius;
	transition: background-color 150ms ease, box-shadow 150ms ease;

	&[data-position="1"] {
		background-color: #fff;
		box-shadow: 0 0.5em 2em 0px rgba(0, 0, 0, 0.2);
	}

	@include md-and-up {
		text-align: left;
		position: relative;
		cursor: pointer;
		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
			box-shadow: 0 0.5em 2em 0px rgba(0, 0, 0, 0.1);
		}
		&[data-position="1"] {
			background-color: #fff;
		}
	}
}
[data-background-color="primary"],
[data-background-color="secondary"] {
	.info-carousel-slide-copy {
		&[data-position="1"] {
			background-color: rgba(255, 255, 255, 0.2);
		}
		@include md-and-up {
			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
			&[data-position="1"] {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

.slide-images-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;

	cursor: pointer;
	@include md-and-up {
		width: calc(14em + 10vw);
		//flex-grow: 1;
		flex-shrink: 0;
		justify-content: flex-start;
	}
	@include lg-and-up {
		width: 26em;
	}
	.slide-images {
		perspective: 500px;
		height: 85vw;
		width: auto;
		position: relative;
		display: flex;

		@include md-and-up {
			height: 30em;
		}
	}
}
.info-carousel-slide-image {
	position: relative;
	top: 0;
	left: 0;
	transition: transform 350ms ease-in-out, z-index 150ms ease-in-out, filter 900ms ease-in-out;

	img {
		height: 85vw;
		width: auto;
		border-radius: 1rem;
		border: 1px solid;
		border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.3);
		box-shadow: 0 0.5em 2em 0px rgba(0, 0, 0, 0.5);
		@include md-and-up {
			height: 30em;
		}
	}

	&[data-position="1"] {
		// this is the one in focus, don't move it around.
		transform: translate3d(0, 0, 0);
		z-index: 6;

		@include md-and-up {
			transform: none;
			&:hover {
				transform: none;
			}
		}
	}
}
@for $i from 2 through 5 {
	.info-carousel-slide-image[data-position="#{$i}"] {
		filter: brightness(0.95);
		position: absolute;
		transform: translate3d(($i - 1) * 15vw, 0, -($i - 1) * 5em);
		z-index: 5 - $i;

		@include md-and-up {
			transform: translate3d(($i - 1) * 10vw, 0, -($i - 1) * 5em);
			&:hover {
				// on hover, make it poke out a little
				transform: translate3d(($i - 1) * 11vw, 0, -($i - 1) * 5em);
			}
		}
	}
	.info-carousel-slide-copy[data-position="#{$i}"] {
		display: none;

		@include md-and-up {
			display: block;
		}
	}
	.slide-images-wrapper[data-slide-number="#{$i}"] {
		.slide-images {
			transform: translateX(-$i * 2vw);
			@include md-and-up {
				transform: translateX(0);
			}
		}
	}
}
