{#
	Title: Button Group
	Description: Single or multiple buttons
	Category: triumph-blocks
	Icon: admin-links
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: true
	SupportsAnchor: true
	SupportsCustomClassName: true
#}

<div class="button-group {{ blockName }} {{ classes ? classes : '' }}" {{ block.id ? 'data-' ~ block.id : '' }} data-alignment="{{ fields.alignment }}">
	{% for link in fields.links %}
		{% include 'blocks/link/link.twig' %}
	{% endfor %}
</div>