.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	z-index: -10;
	display: none;
	transition: opacity 500ms ease, z-index 0ms linear 500ms, display 0ms linear 500ms;

	&[data-open="true"] {
		@extend %center-flex;
		z-index: 10;
		opacity: 1;
		transition: opacity 500ms ease, z-index 0ms linear;
	}
}
.modal {
	position: relative;
	max-width: 45ch;
	background: #fff;
	padding: $space-md $space-lg $space-md $space-md;
	margin: $space-md;
	box-shadow: .25em .25em 4em rgba(0, 0, 0, .5);
	> button.modal-close {
		@extend %button-clean;
		font-size: 2em;
		position: absolute;
		top: .25em;
		right: .5em;
	}
}
