<div id="{{ modal.id }}" class="modal-wrapper" data-open="false">
    <div class="modal">
        <button class="modal-close" aria-label="close the modal"><span class="hidden">Close</span><i class="fal fa-times"></i></button>
        <div class="modal-content">
            {{ modal.content }}
        </div>
    </div>
</div>