<div class="image-watermark">
    <img src="{{ site.theme.link }}/assets/img/image-watermark.svg" id="top-left"/>
    <img src="{{ site.theme.link }}/assets/img/image-watermark.svg" id="bottom-right"/>
</div>