<div class="basic-block">
    <div class="title">
        <h4>{{ post.title }}</h4>
        <p>{{ post.date }}</p>
    </div>
    <p>{{ post.preview.read_more(false) }}</p>
    <a href="{{ post.link }}" class="simple">Read Article</a>
</div>