{#
  Title: Recent News
  Description: A grid grouping of recent blog posts
  Category: triumph-blocks
  Icon: format-image
  Keywords: 
  Mode: edit
  Align: left
  PostTypes: post page account service leadership
  SupportsAlign: false
  SupportsMode: false
  SupportsMultiple: true
#}

{% if fields.choose_your_posts %}
    {% set recent_news = Post(fields.choose_your_posts) %}
{% endif %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'recent-news' } %}
	{% block block_content %}
        <h2>Recent News</h2>
        <div class="posts">
		    {% for post in recent_news|slice(0,3) %}
				<div class="post">
					<h4>{{ post.title }}</h4>
					<p><em>{{ post.date }}</em></p>
					<p>{{ post.preview.read_more(false) }}</p>
					<a href="{{ post.link }}" class="simple post-link">Read Article</a>
				</div>
            {% endfor %}
        </div>
        <a href="/news" class="btn">See All News</a>
	{% endblock %}
{% endembed %}
