.recent-news {
	//padding: $space-lg $space-sm;
	text-align: center;
	h2 {
		text-align: center;
		margin-bottom: $space-md;
	}
	a.btn {
		margin-top: $space-md;
		@include ie {
			display: inline-block;
			text-align: center;
		}
	}
	.posts {
		margin: 0 -#{$space-sm};
		display: flex;
		text-align: left;
		flex-wrap: wrap;
		> * {
			margin: $space-sm;
		}
	}
}
