{#
    Title: Video Presenter
    Description: Showcase a video via an iframe embed
    Category: triumph-blocks
    Icon: editor-ol
    Keywords: 
    Mode: edit
    Align: left
    PostTypes: post page
    SupportsAlign: false
    SupportsMode: false
    SupportsMultiple: true
#}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' with {blockName: 'video-presenter' } %}
	{% block block_content %}
        {{ fields.copy }}
        <div class="hold">
            <div class="video-wrapper">
                <iframe frameborder="0" width="100%" height="100%" src="{{ fields.url }}" allowfullscreen allow="autoplay"></iframe>
            </div>
        </div>
	{% endblock %}
{% endembed %}