// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a,
button,
input[type="submit"] {
	svg,
	i,
	span,
	div {
		pointer-events: none;
	}
}
a {
	text-decoration: none;
	color: var(--color-primary-darken);

	&:not([class]) {
		&:focus,
		&:hover {
			color: var(--color-primary-darken);
			text-decoration: underline;
		}
	}
	&.simple {
		@extend %uppercase;
		font: 600 .875rem/1 $font-sans-serif;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}

.simple-link {
	@extend %uppercase;
	font: 600 .875rem/1 $font-sans-serif;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}
