// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
	border-spacing: 0;
	width: 100%;
}

tr {
	&:nth-child(even) {
		background: rgba($color-ui-gray, 0.07);
	}
	&:nth-child(odd) {
		background: rgba(#fff, 0.5);
	}
}

td,
th {
	padding: 1rem;
	text-align: left;
}
