{#
	Title: Rate Finder
	Description: Find account rates by zip.
	Category: triumph-blocks
	Icon: search
	Keywords: 
	Mode: edit
	Align: left
	PostTypes: post page account leader partner service
	SupportsAlign: false
	SupportsMode: false
	SupportsMultiple: false
	SupportsAnchor: true
	SupportsCustomClassName: true
#}
{% set method = fields.method ? fields.method : 'rates' %}

{% embed 'blocks/layout-wrapper/layout-wrapper.twig' %}
	{% block block_content %}
        <h2>Interest Rates</h2>
		<p>The APY/interest rates of some accounts may vary be region and account balance, please enter the customers zip code to see applicable rates.</p>
		<form name="rate-finder" data-method="{{ method }}">
			<label for="zip">5-digit Zip Code</label>
			<div class="form-inline">
				<input id="zip" name="zip" type="text" inputmode="numeric" pattern="[0-9]{5}" placeholder="75251" required>
				{% if fields.account %}
					<input id="account" name="account" type="hidden" value="{{ fields.account }}">
				{% endif %}
				<button class="btn primary"><i class="fas fa-search"></i><span class="hidden">Get Rates</span></button>
			</div>
			
		</form>
		<div class="rate-wrapper">
		</div>
	{% endblock %}
{% endembed %}
