<div class="image-watermark">
    <img id="top-left" src="{{ site.theme.link }}/assets/img/{{ brand }}/image-watermark.svg" />
    <img id="bottom-right" src="{{ site.theme.link }}/assets/img/{{ brand }}/image-watermark.svg" />
</div>