<?xml version="1.0" encoding="UTF-8"?>
<svg class="{{ class ? class : '' }}" id="{{ id ? id : '' }}" width="149px" height="149px" viewBox="0 0 149 149" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Path 3</title>
    <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-408.000000, -2208.000000)" fill="#789D4A" id="Path-3">
            <polygon transform="translate(482.500000, 2282.500000) rotate(-90.000000) translate(-482.500000, -2282.500000) " points="408 2357 440.13978 2324.54621 526.104476 2324.54621 526.104476 2238.92325 557 2208 557 2357"></polygon>
        </g>
    </g>
</svg>